
<div class="navbar-home">
  <div class="nav-name" style="right=0">
    <span>Elise </span>
    <span class="last-name"> Rochaix</span>
  </div>

  <div class="container-links brackets">
    <span><a href="#about" data-action="click->navbar#scrollTo">About</a></span>
    <span><a href="#portfolio" data-action="click->navbar#scrollTo">Portfolio</a></span>
    <span><a href="#cv" data-action="click->navbar#scrollTo">CV</a></span>
    <span><a href="#contact" data-action="click->navbar#scrollTo">Contact</a></span>
  </div>
</div>
