

<%= render "navbar_home" %>
<br>
<br>
<br>
<%# <%= link_to "Consultez mon CV", cvs_path %> 

<%#
<section id="section1">
  <!-- Contenu de la section 1 -->
</section>

<section id="section2">
  <!-- Contenu de la section 2 -->
</section>

<section id="section3">
  <!-- Contenu de la section 3 -->
</section>

<section id="section4">
  <!-- Contenu de la section 4 -->
</section>

<section id="section5">
  <!-- Contenu de la section 5 -->
</section> %>
