<section class="section">
  <div class="about-me mt-5">
    <h1 class="mb-0">
       <span>Elise</span>
       <span class="last-name">Rochaix</span>
    </h1>
  </div>
  <div class="subheading mb-3">
    Göteborg, Sweden.
    <a href="mailto:name@email.com">elise.rochaix@gmail.com</a>
  </div>
  <div class="mb-5 mt-5">
    <p> I am a fresh graduate from <strong>Le Wagon</strong>, a renowned web development program, specializing in full-stack development.
    With eight years of experience in the Education field, I have gained solid communication, problem-solving, and adaptability skills.
    I am motivated, creative, and ready to take on new challenges to contribute to the success of projects.</p>
  </div>
  <div class="link-icons">
    <a href="https://www.linkedin.com/in/elise-rochaix/">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/E-Rx">
      <i class="fab fa-github"></i>
    </a>
  </div>
</section>
