<section class="section">

  <div class="category">
    <h2 class="mb-3">education</h2>
  </div>

  <div class="flex">
    <div>
      <h3 class="mb-0">web development bootcamp</h3>
    </div>

    <div class="section-date">
      <span class="text-date">April 2023 – June 2023</span>
    </div>
  </div>

    <div class="subheading">
      <span>Le Wagon - Lyon, France</span>
    </div>

      <ul>
        <li>Full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails.</li>
        <li>Designed, implemented and shipped to production a clone of AirBnB and a Rails prototype of www.pixysecure.me</li>
      </ul>



  <div class="flex">
    <div>
      <h3 class="mb-0">Art Communication Langage - Bachelor's degree</h3>
    </div>

    <div class="section-date">
      <span class="text-date">June 2005 – June 2008</span>
    </div>
  </div>

    <div class="subheading">
      <span>University of Nice Sophia Antipolis - Nice, France</span>
    </div>

    <div>
      <ul>
        <li>Options: <strong>Visual Arts and Image, Writing, Social Relations.</strong></li>
        <li> <strong>Information and Communication Theories</strong>, Aesthetics, Anthropology, Semiotics, Media Critique, Art History, New Technologies.</li>
        <li><strong>Writing and Social Relations</strong>: Strategic Knowledge in Marketing, Organizational Communication, Information and Communication Technologies, Cultural Management and Mediation, Journalism 2.0, Local  Communities, Sustainable Development.</li>
        <li><strong>Technical Skills</strong>: Computing, Graphic Design, Expressive Skills, Audiovisual Techniques, Event Management, Scientific and Cultural Mediation.</li>
      </ul>
    </div>


  <div class="flex">

    <h3 class="mb-0">Political Science - Sociology </h3>

    <div class="section-date">
      <span class="text-date">September 2004 – June 2005</span>
    </div>

  </div>

    <div class="subheading">
      <span>University Lyon Lumière II - Lyon, France</span>
    </div>


    <ul>
      <li>Introduction to fundamental concepts and theories in political science and sociology, exploring topics such as political systems, social structures, and the relationship between politics and society.</li>
      <li>Development of critical thinking and analytical skills through the study of political ideologies, social theories, research methods, and historical perspectives.</li>
    </ul>


  <div class="flex">

    <h3 class="mb-0">Scientific Baccalaureate</h3>

    <div class="section-date">
      <span class="text-date">September 2004</span>
    </div>
  </div>
  
    <div class="subheading">
      <span>Academy Lyon, France</span>
    </div>

      <ul>
        <li>Specialization in <strong>Mathematics</strong> with an option in Audiovisual Cinema.</li>
      </ul>


</section>
