<section class="section">

  <div class="category">
    <h2 class="mb-3">experience</h2>
  </div>

  <div class="flex">
    <div>
      <h3 class="mb-0">Extension Pixy / Bootcamp's Final Project  </h3>
    </div>

    <div class="section-date">
      <span class="text-date">June 2023</span>
    </div>
  </div>

    <div class="subheading">
      <span>Le Wagon - Lyon, France</span>
    </div>

    <div>
      <ul>
        <li>Pixy is an extension designed to provide a safer and more respectful online experience. It filters and replaces vulgar and offensive words while browsing websites, offering three levels of protection: low, moderate, and high. </li>
        <li>Words are highlighted or replaced with appropriate synonyms, depending on the chosen level.</li>
        <br>
        <li><em>To gain a better understanding of Pixy's extension and its positive impact, you can watch the project's presentation video by following the link below:</em>
        <br>
        <a href="https://www.youtube.com/watch?v=ulklbrgElrQ"> 🎥 Pixy Project Demo </a>(note: it's in French)</li>
      </ul>
    </div>

  <div class="flex">
    <div>
      <h3 class="mb-0">Educator / Student Assistant </h3>
    </div>

    <div class="section-date">
      <span class="text-date">August 2014 - Present</span>
    </div>
  </div>

    <div class="subheading">
      <span>Franska Skolan Medborgarskola - Göteborg, Sweden</span>
    </div>

    <div>
      <ul>
        <li>Support students with psychological diagnoses / difficulties during their school day.</li>
        <li>Complement their academic learning by offering more practical and interactive experiences.</li>
        <li>Teach French language skills.</li>
        <li>Ensure the safety of students.</li>
        <li>Help students learn and understand social codes, resolve conflits, the importance of community living.</li>
      </ul>
    </div>


  <div class="flex">
    <div>
      <h3 class="mb-0"> Communication Officer - internship </h3>
    </div>

    <div class="section-date">
      <span class="text-date">February 208 - April 2008</span>
    </div>
  </div>

    <div class="subheading">
      <span>Nice Côte d'Azur Metropolitan Tourist Office - Nice, France</span>
    </div>

    <div>
      <ul>
        <li>Compilation of press reviews.</li>
        <li>Writing press releases and newsletters.</li>
        <li>Welcoming and assisting journalists during the Nice Carnival.</li>
        <li>Responding to ad hoc requests from various media outlets.</li>
        <li>Promoting the "Carnival Portraits" exhibition.</li>
      </ul>
    </div>


  <div class="flex">
    <div>
      <h3 class="mb-0"> Photographer / Press Attaché</h3>
      <span class="subheading" id="color">under the direction of Olivier Monge</span>
    </div>

    <div class="section-date">
      <span class="text-date">February 2008 - March 2008</span>
    </div>
  </div>

    <div class="subheading">
      <span>Nice, France</span>
    </div>

    <div>
      <ul>
        <li>Interviews with models.</li>
        <li>Studio equipment manager.</li>
        <li>Photography sessions.</li>
        <li>Responsible for coordinating with the printer for the publication of the book.</li>
        <li>Exhibition at Galerie des Dominicains, Nice.</li>
      </ul>
    </div>

</section>
