<section class="section">

  <div class="category">
    <h2 class="mb-3">interests</h2>
  </div>


  <p> Having been interested in  <strong>photography</strong> for a long time, I have always enjoyed capturing and immortalizing unique moments. <strong>Art</strong>, in all its forms, is a constant source of inspiration and broadens my perspective of the world. <strong>Nature</strong>, on the other hand, offers me a sense of wonder and rejuvenation. I love immersing myself in natural environments, exploring new horizons, and working towards the preservation of our planet. Lastly, I find solace in <strong>manual activities</strong>  such as linocut printing and embroidery, as they allow me to relax, express my creativity, and bring forth unique and meaningful creations.</p>
  <p>I also greatly value meaningful social interactions and the opportunity to connect with others. I find immense personal enrichment in engaging with diverse individuals, fostering new relationships, and exchanging ideas and experiences. Building connections and engaging in social interactions are integral to my personal growth and contribute to a fulfilling and well-rounded life.</p>
  <p><strong>These personal interests reflect my curiosity, my eagerness to explore new perspectives, and my commitment to nourishing my life through enriching creative experiences and meaningful human connections.</strong></p>

</section>
