
<div class="nav-sidebar" data-controller="navbar">

  <span >
    <a href="#logo" class="logo">Logo </a>
    <a href="#my_name" class="name">Elise ROCHAIX</a>
  </span>

   <button class="navbar-toggler" type="button" id="navbarToggleBtn">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar" id="navbarContent">
    <ul>
      <li><a href="#aboutme" data-action="click->navbar#scrollTo">About me</a></li>
      <li><a href="#experience" data-action="click->navbar#scrollTo">Experience</a></li>
      <li><a href="#education" data-action="click->navbar#scrollTo">Education</a></li>
      <li><a href="#skills" data-action="click->navbar#scrollTo">Skills</a></li>
      <li><a href="#interests" data-action="click->navbar#scrollTo">Interests</a></li>
      <li><a href="#portfolio" data-action="click->navbar#redirectTo">Portfolio</a></li>
    </ul>
  </div>

</div>
