<section class="section">

  <div class="category">
    <h2 class="mb-3">Skills</h2>
  </div>

  <div>
    <h3 class="mb-0">Programming languages & Tools </h3>
  </div>

  <ul class=" skills-icons mb-3">
    <li><i class="fab fa-html5" title="HTML5"></i></li>
    <li><i class="fab fa-css3-alt" title="CSS3"></i></li>
    <li><i class="fab fa-js-square" title="JavaScript"></i></li>
  </ul>

  <h3 class="mb-0">Framework </h3>
  <ul class="ul-check mb-3">
    <li><i class="fa-solid fa-check"></i> Ruby on Rails</li>  <%# check icone %>
  </ul>

</section>
